.footer {
    background-color: var(--bs-tertiary-bg); 
    color: var(--bs-navbar-brand-color); 
    padding: 5px;
    text-align: center;
    position: static;
    bottom: 0;
    width: 100%;
}

.footer-icons a {
    color: var(--bs-navbar-brand-color);
    margin: 0px;
    text-decoration: none;
    font-size: 40px;
}