.footer {
    background-color: var(--bs-tertiary-bg);
    color: var(--bs-navbar-brand-color);
    padding: 5px;
    text-align: center;
    width: 100%;
    position: sticky;
}

.footer-icons a {
    color: var(--bs-navbar-brand-color);
    margin: 0px;
    text-decoration: none;
    font-size: 40px;
}
