.hero-title {
    font-weight: "bold";
    font-size: 44px;
}

.hero-description {
    font-size: 1rem;
    max-width: 60%;
}

.ratings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 90px;
}

.study-space-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.distance-info {
    width: 14%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg-LOW_OCCUPANCY {
    background-color: #00C844;
}

.bg-MED_OCCUPANCY {
    background-color: gold;
}

.bg-HI_OCCUPANCY {
    background-color: red;
}

@media(max-width: 1100px) {
    .hero-description {
        max-width: 90%
    }
}

@media(max-width: 770px) {
    .hero-title {
        font-size: 32px;
    }
    .hero-description {
        margin-top: 0.3rem;
        font-size: 0.9rem;
        max-width: 100%;
    }
    .distance-info {
        width: 24%;
        font-size: 0.9rem;
    }
}
