.navbar {
  width: 100%;
  position: sticky;
  top:0;
  margin-top: -0.5rem; /* Necessary, since react bs navbars' padding is on the outside???*/
  z-index: 1;
}

.navbar img {
  height: 2.2rem;
  object-fit: cover;
  padding-right: 0.5rem;
}

.navbar-brand {
  font-size: 1.75rem;
/*  font-weight: bold;*/
}

.navbar input {
  transform: scale(1.25);
  height: 1.2rem;

}
.navbar .left-container {
  width: 75vw;
  display: flex;
  padding-left: 1rem;
}

.navbar .right-container {
  width: 25vw;
  display: flex;
  gap: 0.75rem;
  justify-content: right;
  align-items: center;
  padding-right: 2rem;
}
