.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    line-height: 1.1;
    background-color: skyblue;
  }
  
  .navbar h1 {
    font-size: 1.6rem;
  
    padding-left: 0.15rem;
    padding-right: 02.5rem;
  }
  
  .navbar img {
    width: 36px;
    margin-left: 0.5rem;
    margin-right: 0.25rem;
    transform: scaleX(-1);
  
  }
  
  .navbar .switch {
    position: relative;
    display: inline-flex;
    width: 2.5rem;
    height: 1.6rem;
    background-color: black;
    border-radius: 2rem;
  }
  
  .navbar .switch input{
    display: none;
    opacity: 0;
  }
  
  .navbar .slider {
    -webkit-transition: .4s;
    transition: .4s;
    cursor: pointer;
    top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  }
  
  .navbar .slider:before {
    position: absolute;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 0.75rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .navbar input:checked + .slider {
    background-color: black;
  }
  
  .navbar input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .navbar input:checked + .slider:before {
    -webkit-transform: translateX(1.2rem);
    -ms-transform: translateX(1.2rem);
    transform: translateX(1.2rem);
  }