:root {

}

.navbar {
  width: 100vw;

  position: absolute;
  top:0;

}

.navbar img {
  height: 2.2rem;
  object-fit: cover;
  padding-right: 0.3rem;
}

.navbar-brand {
  font-size: 1.75rem;
/*  font-weight: bold;*/
}

.navbar input {
  transform: scale(1.25);
  height: 1.2rem;

}
.navbar .left-container {
  width:50vw;
  display: flex;
  gap: 0.75rem;
  padding-left: 1rem;
}

.navbar .right-container {
  width:50vw;
  display: flex;
  gap: 0.75rem;
  justify-content: right;
  align-items: center;
  padding-right: 2rem;
}
