.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  line-height: 1.1;
  background-color: aliceblue;
}

.navbar h1 {
  font-size: 1.6rem;

  padding-left: 0.1rem;
  padding-right: 0.5rem;
}

.navbar img {
  width: 48px;
  height: 5%;
  margin-left: 0.5rem;
  transform: scaleX(-1);
}
