/* lol */

.big-container {
	display: flex;
	align-items: top;
	flex-direction: column;
	padding: 0;

}

.leftSideBar {
	margin-top: 0.2rem;
}

.cards-container h1 {
	margin-top: 0;
	margin-left: 2.5rem;
}

.bottom-container {
	width:100vw;
	display: flex;
	align-items: top;
	margin-top: 6rem;
	margin-right:0;
}
