

.big-container {
	display: flex;
	align-items: start;
	justify-content: space-between;
	flex-direction: column;
	padding: 0;
	height: 100vh;
	max-width: 100%;
}

.bottom-container {
	max-width: 100vw;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: start;
	margin: 2.5rem 0;
	padding: 0;
}

.cards-container {
	max-height: 70vh;
	height: 100%;
	width: 50vw;
	overflow-y: scroll;
}