/* lol */

.big-container {
	display: flex;
	align-items: top;
	flex-direction: column;
	padding: 0;
}

.bottom-container {
	width:100vw;
	display: flex;
	align-items: top;
	margin-top: 6rem;
	margin-right:0; 
}
